@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
 *, *::after, *::before {
	 box-sizing: inherit;
}
 * {
	 font: inherit;
}
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, hr {
	 margin: 0;
	 padding: 0;
	 border: 0;
}
 html {
	 box-sizing: border-box;
}
 body {
	 background-color: #fff;
	 background-color: var(--color-bg, white);
}
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, form legend {
	 display: block;
}
 ol, ul {
	 list-style: none;
}
 blockquote, q {
	 quotes: none;
}
 button, input, textarea, select {
	 margin: 0;
}
 .reset {
	 background-color: transparent;
	 padding: 0;
	 border: 0;
	 border-radius: 0;
	 color: inherit;
	 line-height: inherit;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
}
 select.form-control::-ms-expand {
	 display: none;
}
 textarea {
	 resize: vertical;
	 overflow: auto;
	 vertical-align: top;
}
 input::-ms-clear {
	 display: none;
}
 table {
	 border-collapse: collapse;
	 border-spacing: 0;
}
 img, video, svg {
	 max-width: 100%;
}
 [data-theme] {
	 background-color: #fff;
	 background-color: var(--color-bg, #fff);
	 color: #313135;
	 color: var(--color-contrast-high, #313135);
}
 :root {
	 --space-unit: 1em;
	 --space-xxxxs: calc(0.125*var(--space-unit));
	 --space-xxxs: calc(0.25*var(--space-unit));
	 --space-xxs: calc(0.375*var(--space-unit));
	 --space-xs: calc(0.5*var(--space-unit));
	 --space-sm: calc(0.75*var(--space-unit));
	 --space-md: calc(1.25*var(--space-unit));
	 --space-lg: calc(2*var(--space-unit));
	 --space-xl: calc(3.25*var(--space-unit));
	 --space-xxl: calc(5.25*var(--space-unit));
	 --space-xxxl: calc(8.5*var(--space-unit));
	 --space-xxxxl: calc(13.75*var(--space-unit));
	 --component-padding: var(--space-md);
}
 :root {
	 --max-width-xxs: 32rem;
	 --max-width-xs: 38rem;
	 --max-width-sm: 48rem;
	 --max-width-md: 64rem;
	 --max-width-lg: 80rem;
	 --max-width-xl: 90rem;
	 --max-width-xxl: 120rem;
}
 
 :root {
	 --radius-sm: calc(var(--radius, 0.25em)/2);
	 --radius-md: var(--radius, 0.25em);
	 --radius-lg: calc(var(--radius, 0.25em)*2);
	 --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
	 --shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
	 --shadow-lg: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
	 --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	 --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	 --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	 --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
}
 :root {
	 --body-line-height: 1.4;
	 --heading-line-height: 1.2;
}
 body {
	 font-size: 1em;
	 font-size: var(--text-base-size, 1em);
	 font-family: 'Open Sans', sans-serif;
	 font-family: var(--font-primary, sans-serif);
	 color: #313135;
	 color: var(--color-contrast-high, #313135);
}
 strong, .text-bold {
	 font-weight: bold;
}
 s {
	 text-decoration: line-through;
}
 u, .text-underline {
	 text-decoration: underline;
}

 @supports (--css: variables) {
	 @media (min-width: 64rem) {
		 :root {
			 --space-unit: 1.25em;
		}
	}
}
 :root {
	 --radius: 0.25em;
}
 :root {
	 --font-primary: sans-serif;
	 --text-base-size: 1em;
	 --text-scale-ratio: 1.2;
	 --text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
	 --text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
	 --text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
	 --text-lg: calc(var(--text-md)*var(--text-scale-ratio));
	 --text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
	 --text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
	 --text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
	 --body-line-height: 1.4;
	 --heading-line-height: 1.2;
	 --font-primary-capital-letter: 1;
}
 @supports (--css: variables) {
	 @media (min-width: 64rem) {
		 :root {
			 --text-base-size: 1.25em;
			 --text-scale-ratio: 1.25;
		}
	}
}
 @supports (--css: variables) {
	 @media (min-width: 64rem) {
		 :root {
			 --cd-header-height: 65px;
			 --cd-sidebar-width: 250px;
		}
	}
}


 @media (min-width: 64rem) {
	 .cd-main-content {

		margin-top: 65px;
		 min-height: 100vh;
	}
}
 .cd-content-wrapper {
	 padding: 1.25em 1.25em;

}
 @media (min-width: 64rem) {
	 .cd-content-wrapper h1 {
		 font-weight: 300;
	}
}
 .cd-main-header {
	 position: relative;
	 z-index: 10;
	 z-index: var(--zindex-fixed-element);
	 height: 45px;
	 height: var(--cd-header-height);
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 -ms-flex-align: center;
	 align-items: center;
	 background: #da7714;
	
	 box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1);
	 box-shadow: var(--shadow-sm);
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .cd-main-header a {
	 text-decoration: none;
}
 .cd-main-header::before {
	 display: none;
	 content: 'mobile';
}
 @media (min-width: 64rem) {
	 .cd-main-header {
		 position: fixed;
		 -ms-flex-pack: start;
		 justify-content: flex-start;
		 top: 0;
		 left: 0;
		 width: 100%;
		 z-index: 10;
		 z-index: 99;
	}
	 .cd-main-header::before {
		 content: 'desktop';
	}
}
 .cd-logo-wrapper {
	 -ms-flex-negative: 0;
	 flex-shrink: 0;
}
 @media (min-width: 64rem) {
	 .cd-logo-wrapper {
		 width: 100%;
		 width: var(--cd-sidebar-width);
		 display: -ms-flexbox;
		 display: flex;
		 -ms-flex-pack: center;
		 justify-content: center;
		 -ms-flex-align: center;
		 align-items: center;
	}
}
 .cd-logo {
	 display: block;
	 margin: 0 1.25em;
	 margin: 0 var(--space-md);
}
 .cd-logo img {
	 display: block;
}
 @media (min-width: 64rem) {
	 .cd-logo {
		 margin: 0;
	}
}
 .cd-nav-trigger {
	 position: relative;
	 display: block;
	 width: 32px;
	 height: 45px;
	
	 margin-right: 1.25em;

}
 .cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
	 position: absolute;
	 height: 3px;
	 width: 24px;
	 background: #fff;

}
 .cd-nav-trigger span {
	 top: calc(50% - 2px);
	 right: 4px;
	 transition: background 0.2s;
}
 .cd-nav-trigger span::before, .cd-nav-trigger span::after {
	 content: '';
	 right: 0;
	 -webkit-transform-origin: 0 50%;
	 -ms-transform-origin: 0 50%;
	 transform-origin: 0 50%;
	 transition: -webkit-transform 0.2s;
	 transition: transform 0.2s;
	 transition: transform 0.2s, -webkit-transform 0.2s;
}
 .cd-nav-trigger span::before {
	 top: -6px;
}
 .cd-nav-trigger span::after {
	 top: 6px;
}
 @media (min-width: 64rem) {
	 .cd-nav-trigger {
		 display: none;
	}
}
 .cd-nav-trigger--nav-is-visible span {
	 background: rgba(255, 255, 255, 0);
	 background: rgba(0, 0, 0, 0);
}
 .cd-nav-trigger--nav-is-visible span::before, .cd-nav-trigger--nav-is-visible span::after {
	 background: rgba(255, 255, 255, 1);
	 background: rgba(0, 0, 0, 1);
}
 .cd-nav-trigger--nav-is-visible span::before {
	 -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
	 -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
	 transform: translateX(4px) translateY(-3px) rotate(45deg);
}
 .cd-nav-trigger--nav-is-visible span::after {
	 -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
	 -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
	 transform: translateX(4px) translateY(2px) rotate(-45deg);
}
 .cd-search {
	 position: relative;
	 margin: 0.75em 1.25em 0;
	 margin: var(--space-sm) var(--space-md) 0;
}
 .cd-search::before {
	 content: '';
	 position: absolute;
	 left: 12px;
	 top: calc(50% - 8px);
	 height: 16px;
	 width: 16px;
	 background: url("../img/cd-search.svg") no-repeat 0 0;
}
 .cd-search input {
	 padding: 0 16px 0 36px;
	 width: 100%;
	 height: 36px;
	 border-radius: 0.25em;
	 background-color: #fff;
	 background-color: var(--cd-color-3);
}
 @media (min-width: 64rem) {
	 .cd-search {
		 display: block;
		 width: 250px;
		 height: 100%;
		 margin: 0;
		 border-left: 1px solid #4a535b;
		 border-left: 1px solid #000;
	}
	 .cd-search::before {
		 background-position: 0 -16px;
	}
	 .cd-search form, .cd-search input {
		 height: 100%;
		 width: 100%;
	}
	 .cd-search input {
		 border-radius: 0;
		 background-color: transparent;
		 color: #fff;
		 color: var(--cd-color-3);
		 font-size: 0.875em;
	}
}
 .cd-side-nav {
	 position: absolute;
	 z-index: 2;
	 z-index: var(--zindex-header);
	 left: 0;
	 top: 45px;
	 top: var(--cd-header-height);
	 width: 100%;
	 width: var(--cd-sidebar-width);
	 padding-bottom: 1.25em;
	 padding-bottom: var(--space-md);
	
	 background-color: #4e8d16;
	 box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
	 box-shadow: var(--shadow-md);
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 transition: 0.2s;
	 visibility: hidden;
	 opacity: 0;
}
 .cd-side-nav a {
	 text-decoration: none;
}
 @media (min-width: 64rem) {
	 .cd-side-nav {
		 position: fixed;
		 top: auto;
		 visibility: visible;
		 opacity: 1;
		 box-shadow: none;
		 transition: none;
         height: 100%;
	}
    .cd-content-wrapper{
        margin-left: 250px;
    }
}
 .cd-side-nav--is-visible {
	 opacity: 1;
	 visibility: visible;
}
 .cd-side__item, .cd-nav__item {
	 font-size: 0.875em;
	 position: relative;
}
 .cd-side__item a, .cd-nav__item a {
	 position: relative;
	 display: block;
	 padding: 0.75em 1.25em;
	 padding: var(--space-sm) var(--space-md);
	 color: #fff;
     font-size: 14px;
	
}
 .cd-side__item > a, .cd-nav__item > a {
	 border-bottom: 1px solid #353b40;
	 border-bottom: 1px solid #000;
	 display: -ms-flexbox;
	 display: flex;
	 -ms-flex-align: center;
	 align-items: center;
}
 .cd-side__item > a::before {
	 content: '';
	 height: 16px;
	 width: 16px;
	 margin-right: 0.5em;
	 margin-right: var(--space-xs);
	 background: url("../img/cd-nav-icons.svg") no-repeat 0 0;
}
 @media (min-width: 64rem) {
	 .cd-side__item {
		 font-size: 0.65em;
	}
	 .cd-side__item a {
		 padding-left: 0.75em;
		 padding-left: var(--space-sm);
	}
	 .cd-side__item > a {
		 border-bottom: none;
	}
	 .cd-side__item:hover > a {
		 background-color: rgba(255, 255, 255, 0.05);
		 background-color: rgba(0, 0, 0, 0.05);
	}
}
 .cd-side__item--overview > a::before {
	 background-position: -64px 0;
}
 .cd-side__item--notifications > a::before {
	 background-position: -80px 0;
}
 .cd-side__item--comments > a::before {
	 background-position: -48px 0;
}
 .cd-side__item--bookmarks > a::before {
	 background-position: -32px 0;
}
 .cd-side__item--images > a::before {
	 background-position: 0 0;
}
 .cd-side__item--users > a::before {
	 background-position: -16px 0;
}
 .cd-side__item--has-children > a::after, .cd-nav__item--has-children > a::after {
	 content: '';
	 position: absolute;
	 top: calc(50% - 8px);
	 height: 16px;
	 width: 16px;
	 right: 1.25em;
	 right: var(--space-md);
	 background: url("../img/cd-arrow.svg");
}
 @media (min-width: 64rem) {
	 .cd-side__item--has-children > a::after, .cd-nav__item--has-children > a::after {
		 display: none;
	}
}

 .cd-side__item--expanded .cd-side__sub-list, .cd-side__item--expanded .cd-nav__sub-list {
	 display: block;
}
 .cd-side__item--expanded > a::after {
	 -webkit-transform: rotate(180deg);
	 -ms-transform: rotate(180deg);
	 transform: rotate(180deg);
}
 @media (min-width: 64rem) {
	 .cd-side__item--expanded .cd-side__sub-list, .cd-side__item--expanded .cd-nav__sub-list {
		 display: none;
	}
}

 .cd-side__sub-list, .cd-nav__sub-list {

	 background-color: #4e8d16;
	 display: none;
}
 .cd-side__sub-item a[aria-current='page'] {
	 color: #ff7d66;
	 color: var(--cd-color-4);
}
 @media (min-width: 64rem) {
	 .cd-side__sub-item a:hover {
		 color: #ff7d66;
		 color: var(--cd-color-4);
	}
}
 .cd-side__label {
	 padding: 1.25em 1.25em 0.375em;
	 padding: var(--space-md) var(--space-md) var(--space-xxs);
}
 .cd-side__label span {
	 text-transform: uppercase;
	 font-weight: bold;
	 font-size: 0.65em;
	 color: rgba(255, 255, 255, 0.4);
	 color: rgba(0, 0, 0, 0.4);
	 letter-spacing: 0.1em;
}
 @media (min-width: 64rem) {
	 .cd-side__label {
		 padding: 0.25em 0.5em 0.125em;
		 padding: var(--space-xxxs) var(--space-xs) var(--space-xxxxs);
	}
	 .cd-side__label span {
		 font-size: 0.5em;
	}
}
 .cd-count {
	 position: absolute;
	 right: calc(2em + 16px);
	 right: calc(var(--space-md) + 16px + var(--space-sm));
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 transform: translateY(-50%);
	 padding: 0.375em 0.5em;
	 padding: var(--space-xxs) var(--space-xs);
	 line-height: 1;
	 background-color: #ff7d66;
	 background-color: var(--cd-color-4);
	 border-radius: 0.25em;
	 color: #fff;
	 color: var(--cd-color-3);
	 font-weight: bold;
	 font-size: 0.875em;
}
 @media (min-width: 64rem) {
	 .cd-count {
		 right: 0.75em;
		 right: var(--space-sm);
	}
}
 .cd-side__btn {
	 margin: 0.5em 1.25em;
	 margin: var(--space-xs) var(--space-md);
}
 .cd-side__btn button {
	 display: block;
	 width: 100%;
	 padding: 0.75em 0;
	 padding: var(--space-sm) 0;
	 background-color: #1885c9;
	 background-color: var(--cd-color-2);
	 border-radius: 0.25em;
	 box-shadow: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	 box-shadow: var(--shadow-sm), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	 text-align: center;
	 color: #fff;
	 color: var(--cd-color-3);
	 font-weight: bold;
}
 @media (min-width: 64rem) {
	 .cd-side__btn {
		 margin: 0.25em 0.5em;
		 margin: var(--space-xxxs) var(--space-xs);
	}
	 .cd-side__btn button {
		 font-size: 0.65em;
	}
}
 @media (min-width: 64rem) {
	 .cd-nav__list {
		 font-size: 0.75em;
		 height: 45px;
		 height: var(--cd-header-height);
		 margin-left: auto;
		 display: -ms-flexbox;
		 display: flex;
		 -ms-flex-align: center;
		 align-items: center;
	}
}
 @media (min-width: 64rem) {
	 .cd-nav__item {
		 display: -ms-flexbox;
		 display: flex;
		 -ms-flex-align: center;
		 align-items: center;
		 margin-right: 1em;
		 height: 100%;
	}
	 .cd-nav__item:last-of-type {
		 margin-right: 0;
	}
	 .cd-nav__item a {
		 font-size: 1.1em;
		 color: #fff;
		 color: var(--cd-color-3);
		 padding: 0.25em;
		 padding: var(--space-xxxs);
		 border: none;
	}
	 .cd-nav__item a:hover {
		 color: #ff7d66;
		 color: var(--cd-color-4);
	}
}
 .cd-nav__item--account img {
	 display: none;
}
 @media (min-width: 64rem) {
	 .cd-nav__item--account > a {
		 height: 100%;
		 display: -ms-flexbox;
		 display: flex;
		 -ms-flex-align: center;
		 align-items: center;
		 padding: 0 1.25em;
		 padding: 0 var(--space-md);
		 background-color: #2b3035;
		 background-color: #000;
	}
	 .cd-nav__item--account img {
		 height: 20px;
		 width: 20px;
		 border-radius: 50%;
		 margin-right: 0.5em;
		 margin-right: var(--space-xs);
		 display: block;
	}
	 .cd-nav__item--account:hover .cd-nav__sub-list {
		 display: block;
	}
}
 @media (min-width: 64rem) {
	 .cd-nav__sub-list {
		 position: absolute;
		 top: 45px;
		 top: var(--cd-header-height);
		 right: 0;
		 width: 200px;
		 display: block;
		 box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
		 box-shadow: var(--shadow-md);
		 display: none;
	}
}
 @media (min-width: 64rem) {
	 .cd-nav__sub-item a {
		 padding: 0.5em 0.75em;
		 padding: var(--space-xs) var(--space-sm);
	}
}
 